*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.titulo{
    padding: 10px;
}
main h1{
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 10px;
    background-color: black;
    color: white;
}

main{
    background-color: rgb(199, 128, 128);
    margin: auto;
    height: 100vh;
    padding: 0 15px;
}